@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-sf: "Inter", sans-serif;
}

nav a svg {
    width: 48px;
    height: 48px;
}

.plug {
    width: 100%;
    height: 1px;
}
