@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-sf: "Inter", sans-serif;
}

:root {
  --bg-color: #FFFFFF;
  --secondary-bg-color: #F6F7F9;
  --text-color: #1A1A1A;
  --button-color: #2563EB;
  --hint-color: #5F6368;
}

* {
  font-family: "Inter", sans-serif;
}

nav a svg {
  width: 48px;
  height: 48px;
  transition: all 0.5s;
}

.plug {
  width: 100%;
  height: 1px;
}

.nav-link {
  color: var(--hint-color);
}

.nav-link-active {
  color: var(--button-color);
  animation: ring 0.4s ease-out;
}

.nav-link-active svg {
  transform: rotate(20deg);
}

@keyframes ring {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 136, 255, 0.6);
  }
  70% {
    box-shadow: 0 0 0 4px rgba(0, 136, 255, 0.2);;
    transform: scale(1.1);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 136, 255, 0);
  }
}

svg {
  width: 24px;
  height: 24px;
}

input, select {
  border: none;
  background-color: transparent;
  outline: none;
}

.arrow-button-active svg {
  transform: rotate(180deg);
}

.addHabbitButton svg {
  width: 28px;
  height: 28px;
}

/* сам контейнер по умолчанию */
.floating-input {
  border: 2px solid var(--hint-color);
  padding: 12px;
  border-radius: 12px;
  position: relative;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.floating-input input,
.floating-input select {
  width: 100%;
}

/* когда внутри input в фокусе или есть текст */
.floating-input:focus-within {
  border-color: var(--button-color);
  box-shadow: 0 0 0 3px rgba(var(--button-color-rgb), 0.2)
}

/* Плавающий label */
.floating-input label {
  white-space: nowrap;
  transition: all 0.3s ease;
  position: absolute;
  left: 12px;
  top: 12px;
  background-color: var(--bg-color);
  padding: 0;
  pointer-events: none;
  color: var(--hint-color);
}

.floating-input label span {
  color: red;
}

.floating-input input:focus + label,
.floating-input input:not(:placeholder-shown) + label,
.floating-input select:focus + label,
.floating-input select:not(:placeholder-shown) + label {
  top: -12px;
  left: 12px;
  padding: 0 8px;
  font-size: 0.75rem;
  color: var(--button-color);
}

.floating-input input:not(:focus) + label,
.floating-input select:not(:focus) + label {
  color: var(--hint-color)
}

/* Скрываем placeholder, когда есть текст или фокус */
.floating-input input::placeholder {
  opacity: 0;
}

.floating-input.pickIcon button svg {
  width: 100%;
  height: 100%;
}

.floating-input.pickIcon button.close svg {
  width: 24px;
  height: 24px;
}

.floating-input.pickIcon button img {
  width: 48px;
  height: 48px;
}

.floating-input.pickIcon label,
.floating-input.pickColorInput label {
  top: -12px;
  left: 6px;
  padding: 0 4px;
  font-size: 0.75rem;
}

.floating-input.pickIcon button:focus + label,
.floating-input.pickColorInput button:focus + label {
  color: var(--button-color);
}

.descText {
  text-decoration: underline;
  color: var(--button-color);
}

.pickIconContent {
  overflow-x: scroll;
}

.icon, 
.pickIcon img {
  filter: brightness(0);
}
.dark .icon,
.dark .pickIcon img {
  filter: brightness(0) invert(1);
}

.modal .floating-input {
  display: flex;
  align-items: end;
  height: 52px;
  transition: height 0.5s ease;
}

.modal .floating-input label {
  background-color: transparent
}

.modal .floating-input input:focus + label,
.modal .floating-input input:not(:placeholder-shown) + label,
.modal .floating-input select:focus + label,
.modal .floating-input select:not(:placeholder-shown) + label {
  top: 4px;
  left: 4px;
}

.modal .floating-input:has(input:focus),
.modal .floating-input:has(input:not(:placeholder-shown)),
.modal .floating-input:has(select:focus),
.modal .floating-input:has(select:not(:placeholder-shown)) {
  height: 64px;
}

.plug {
  width: 100%;
  height: 2px;
}


.addToDoButton svg {
  width: 36px;
  height: 36px;
}