@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-sf: "Inter", sans-serif;
}

:root {
  --bg-color: #FFFFFF;
  --secondary-bg-color: #F6F7F9;
  --text-color: #1A1A1A;
  --button-color: #2563EB;
  --hint-color: #5F6368;
}

nav a svg {
  width: 48px;
  height: 48px;
  transition: all 0.5s;
}

.plug {
  width: 100%;
  height: 1px;
}

.nav-link {
  color: var(--hint-color);
}

.nav-link-active {
  color: var(--button-color);
  animation: ring 0.4s ease-out;
}

.nav-link-active svg {
  transform: rotate(20deg);
}

@keyframes ring {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 136, 255, 0.6);
  }
  70% {
    box-shadow: 0 0 0 4px rgba(0, 136, 255, 0.2);;
    transform: scale(1.1);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 136, 255, 0);
  }
}

svg {
  width: 24px;
  height: 24px;
}

input, select {
  border: none;
  background-color: transparent;
  outline: none;
}

.arrow-button-active svg {
  transform: rotate(180deg);
}

.addHabbitButton svg {
  width: 28px;
  height: 28px;
}

/* сам контейнер по умолчанию */
.floating-input {
  border: 2px solid var(--hint-color);
  padding: 12px;
  border-radius: 16px;
  position: relative;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.floating-input input,
.floating-input select {
  width: 100%;
}

/* когда внутри input в фокусе или есть текст */
.floating-input:focus-within {
  border-color: var(--button-color);
  box-shadow: 0 0 0 3px rgba(var(--button-color-rgb), 0.2)
}

/* Плавающий label */
.floating-input label {
  transition: all 0.3s ease;
  position: absolute;
  left: 12px;
  top: 12px;
  background-color: var(--bg-color);
  padding: 0;
  pointer-events: none;
}

.floating-input input:focus + label,
.floating-input input:not(:placeholder-shown) + label,
.floating-input select:focus + label,
.floating-input select:not(:placeholder-shown) + label {
  top: -12px;
  left: 12px;
  padding: 0 8px;
  font-size: 0.75rem;
  color: var(--button-color);
}

.floating-input input:not(:focus) + label,
.floating-input select:not(:focus) + label {
  color: var(--text-color)
}

/* Скрываем placeholder, когда есть текст или фокус */
.floating-input input::placeholder {
  opacity: 0;
}

.floating-input input[type='color'] {
  width: 24px;
  height: 24px;
  border-radius: 6px;
}

.floating-input input[type='color']:focus + label,
.floating-input input[type='color']:not(:placeholder-shown) + label {
  top: -12px;
  left: 6px;
  padding: 0 4px;
  font-size: 0.75rem;
  color: var(--button-color);
}

.floating-input input[type='color']:not(:focus) + label {
  color: var(--text-color)
}

