.floating-input {
    display: flex;
    padding: 4px;
    align-items: end;
    position: relative;
    width: 100%;
    padding-top: 4px;
    transition: padding-top 0.25s ease;
}

.floating-input input {
    font-size: 1rem;
    line-height: calc(1.5 / 1);
    padding: 4px;
}

.floating-input input::placeholder {
    opacity: 0;
}

.floating-input label {
    position: absolute;
    left: 8px;
    top: 8px;
    font-size: 1rem;
    line-height: 1.5;
    pointer-events: none;

    transform-origin: left top;
    transition:
        transform 0.25s ease,
        color 0.25s ease;
}


.floating-input input:focus + label,
.floating-input input:not(:placeholder-shown) + label {
    transform: scale(0.75);
    color: red;
}

.floating-input:has(input:focus),
.floating-input:has(input:not(:placeholder-shown)) {
    padding-top: 24px;
}